.header {
  background: linear-gradient(
    199deg,
    var(--color-background) 0%,
    var(--color-secondary) 100%
  );
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
